<html xmlns:th="http://www.thymeleaf.org">
<div  th:fragment="leftMenu">
	<!-- 左边菜单 -->
	<div id="skin-select">
		<!-- PC端 LOGO -->
		<div id="logo">
			<h1 style="font-family:'Microsoft Tai Le','宋楷',serif">成绩管理系统</h1>
		</div>
		<!--END PC端 LOGO -->
		<!--点击隐藏左边菜单栏按钮 -->
		<a id="toggle">
			<span class="entypo-menu"></span>
		</a>

		<!-- 左侧菜单栏 -->
		<div class="skin-part">
			<div id="tree-wrap">
				<div class="side-bar">
					<ul id="menu-showhide" class="topnav menu-left-nest" >
						<li>
							<a href="#" style="border-left:0px solid!important;" class="title-menu-left">
								<span>教务管理</span>
								<i data-toggle="tooltip" class="entypo-cog pull-right config-wrap" title="教务管理"></i>
							</a>
						</li>

						<li>
							<a class="tooltip-tip" th:href="@{'/student/student/list?tid='+${session.sessionUserId}}"title="教师管理" target="mainFrame">
								<i class="icon-user-group"></i>
								<span>学生信息</span>
							</a>
						</li>
						<li>
							<a class="tooltip-tip" th:href="@{'/student/userLogin/list?tid='+${session.sessionUserId}}"title="教师管理" target="mainFrame">
								<i class="icon-user-group"></i>
								<span>修改密码</span>
							</a>
						</li>

					</ul>

					<ul id="menu-showhide1" class="topnav menu-left-nest" >
						<li>
							<a href="#" style="border-left:0px solid!important;" class="title-menu-left">
								<span>成绩管理</span>
								<i data-toggle="tooltip" class="entypo-cog pull-right config-wrap" title="成绩管理"></i>
							</a>
						</li>
						<li>
							<a class="tooltip-tip" th:href="@{'/student/mathScore/list?tid='+${session.sessionUserId}}" title="班级成绩管理" target="mainFrame">
								<i class="icon-document-new"></i>
								<span>个人成绩查看</span>
							</a>
						</li>
						<li>
							<a class="tooltip-tip"  th:href="@{'/student/saStudent/bar.html?tid='+${session.sessionUserId}}"  title="班级成绩管理" target="mainFrame">
								<i class="icon-media-record"></i>
								<span>个人成绩分析</span>
							</a>
						</li>


					</ul>


				</div>
			</div>
		</div>
		<!-- 左侧菜单栏 -->
	</div>
	<!-- 结束左边菜单栏 -->

</div>